In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(zip(np.arange(10), np.random.randn(10)), columns=['ind', 'rand'])

In [20]:
df.rand.index[df.ind == 6]

Int64Index([6], dtype='int64')

In [19]:
df

   ind      rand
0    0  0.145559
1    1  0.356766
2    2  0.917365
3    3 -3.996211
4    4  0.709089
5    5  0.275071
6    6 -0.492082
7    7  0.447973
8    8 -0.245840
9    9  0.410380

In [28]:
df.index[df.ind == 7].values

array([7], dtype=int64)

In [29]:
df.ind.values[df.ind == 7]

array([7], dtype=int64)